<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <clear/>
    <connectionStrings>
        <add name="wordCount" connectionString="User ID=postgres;Password=1234;Host=localhost;Port=5432;Database=wordcount;Pooling=true;Min Pool Size=0;Max Pool Size=100;Connection Lifetime=0;" providerName="Npgsql"/>
    </connectionStrings>
</configuration>
